src/Payment.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Payment" targetNamespace="http://j2ee.netbeans.org/wsdl/Payment"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/Payment" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://xml.netbeans.org/schema/PaymentService">
    <types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/Payment" xmlns:ns1="http://xml.netbeans.org/schema/PaymentService">
            <xsd:import namespace="http://xml.netbeans.org/schema/PaymentService" schemaLocation="Payment.xsd"/>
            <xsd:element name="DescriptionRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="CardNumber" type="xsd:string"></xsd:element>
                        <xsd:element name="CVV" type="xsd:string"></xsd:element>
                        <xsd:element name="Price" type="xsd:float"></xsd:element>
                        <xsd:element name="Expire" type="xsd:date"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="DescriptionResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Verify" type="xsd:boolean"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="PaymentOperationRequest">
        <part name="body" element="tns:DescriptionRequest"/>
    </message>
    <message name="PaymentOperationResponse">
        <part name="body" element="tns:DescriptionResponse"/>
    </message>
    <portType name="PaymentPortType">
        <operation name="PaymentOperation">
            <input name="input1" message="tns:PaymentOperationRequest"/>
            <output name="output1" message="tns:PaymentOperationResponse"/>
        </operation>
    </portType>
    <binding name="PaymentBinding" type="tns:PaymentPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="PaymentOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/Payment"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/Payment"/>
            </output>
        </operation>
    </binding>
    <service name="PaymentService">
        <port name="PaymentPort" binding="tns:PaymentBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/PaymentService/PaymentPort"/>
        </port>
    </service>
    <plnk:partnerLinkType name="Payment">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes.
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="PaymentPortTypeRole" portType="tns:PaymentPortType"/>
    </plnk:partnerLinkType>
</definitions>

